/* Estructura */
/*
*{
    background-color: rgb(0, 0, 75)
}
*/
html{
    min-height: 100%;
}

body{
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    background-color: rgb(0, 0, 20);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(0, 1, 85, 0.1) 5px, rgba(0, 1, 85,.1) 10px);
}
.estructuraPrincipal{
    
    height: 35em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.marcoI{
    height: 100%;
    width: 20%;
}
.estructuraCentral{
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.marcoD{
    height: 100%;
    width: 20%;
}

.margenSuperior{
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.estructuraContenido{
    height: 80%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.zonaContenido{
    height: 100%;
    width: 20%;
    background-color: transparent;
    color: white;
    margin-top: 5em;
    margin-right: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
    
    
}
.zonaTexto{
    height: 100%;
    width: 80%;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
}
.zonaDescripcion{
    height: 60%;
    width: 100%;
    text-align: left;
    color: white;
}
.zonaHabilidades{
    height: 40%;
    width: 100%;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: row;
}
.zonaTextoHabilidades{
    height: 100%;
    width: 15%;
    text-align: left;
    color: white;
}
.zonaBarras{
    margin-top: 1em;
    height: 100%;
    width: 85%;
    text-align: left;
    color: white;
}

.margenInferior{
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(141, 174, 211);
}

/*
#bMenu{
    height: 5em;
    width: 5em;
    position: relative;
    background-color: white;
    animation-name: example;
    animation-duration: 4s
}
#bMenu:hover{
    animation-name: example;
    animation-duration: 4s;
    background-color: white;
}*/

@keyframes example {
    0%   {background-color: white; height: 5em; width: 5em;}
    100%  {background-color:white; height: 10em; width: 10em;}
  }

#boton{
    height: 2.5em;
    width: 8em;
    background-color: rgba(0, 13, 83, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0px;
    line-height: 40px;
    transition: width 0.2s;
    position: relative;
}
#boton:hover{
    position: relative;
    height: 2.5em;
    width: 8.5em;
    background-color: rgba(0, 20, 134, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
}

#boton2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: red;
    border: 10px solid #990000;
    box-shadow: 4px 4px 4px #999;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 100px; /*or you could use 4em*/
    }
.barra1, .barra2, .barra3{
    height: 1em;
    
    margin-top: 0.1em;
    background-color: rgba(0, 140, 255, 0.2);
    
  }
.barra1{
    width: 15em;
    animation-name: aEj1;
    animation-duration: 2s;
}
@keyframes aEj1 {
    from {width: 0em;;}
    to {width: 15em;;}
  }
.barra2{
    width: 20em;
    animation-name: aEj2;
    animation-duration: 2s;
}
@keyframes aEj2 {
    from {width: 0em;}
    to {width: 20em;}
}
.barra3{
    width: 10em;
    animation-name: aEj3;
    animation-duration: 2s;
}
@keyframes aEj3 {
    from {width: 0em;}
    to {width: 10em;}
}