/* Estructura */
*{
    background-color: rgb(0, 0, 75)
}
.estructuraPrincipal{
    height: 50em;
    width: 80em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.marcoI{
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 75);
}
.estructuraCentral{
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.marcoD{
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 75);
}

.margenSuperior{
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 75);
}
.estructuraContenido{
    height: 80%;
    width: 100%;
    color: white;
    background-color: rgb(255, 255, 255);
}